<div class="container mx-auto">
  <h1 class="text-2xl font-bold mb-5 text-center">shop all categories</h1>
  <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
    @for (category of allcategories.data; track $index) {
        <div  class="card border border-green-400/50 rounded-md overflow-hidden shadow relative">
            <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                <img class="w-full object-contain h-[250px]" [src]="category.image" alt="blog">
                <div class="p-6">
                    <h2 class="tracking-widest  text-green-500 text-xs"> {{category.name}}</h2>
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{category.slug}}</h1>
               
                </div>
            </div>
        </div>
    }



  </div>
</div>
