<section>
  <div class="grid md:grid-cols-[70%_minmax(0,1fr)]">
    <div>
      <owl-carousel-o [options]="customMainSlider">
        <ng-template carouselSlide>
          <img src="/images/slider-image-1.jpeg" class="w-full h-[300px]" alt="">
        </ng-template> 
        <ng-template carouselSlide>
          <img src="/images/slider-image-2.jpeg" class="w-full h-[300px]" alt="">
        </ng-template> 
        <ng-template carouselSlide>
          <img src="/images/slider-image-3.jpeg" class="w-full h-[300px]" alt="">
        </ng-template> 

      </owl-carousel-o>
  
    </div>
    <div>
      <img src="/images/grocery-banner.png" class="w-full h-[150px]" alt="">
      <img src="/images/grocery-banner-2.jpeg" class="w-full h-[150px]" alt="">
    </div>
  </div>
</section>

<section>
  <h2 class="text-2xl font-bold mb-5">shop popular categories</h2>
  <owl-carousel-o [options]="customOptions">

@for (category of categories; track category._id) {
  <ng-template carouselSlide>
<div>
  <img [src]="category.image" class="w-full h-[250px]" alt="">
  <h3 class="text-main">{{category.name}}</h3>
</div>
  </ng-template>
}

  </owl-carousel-o>
</section>

<section>
<!-- <h2>{{myDate |date}}</h2> -->
    <h2 class="text-2xl font-bold mb-5">shop popular products</h2>
    <input [(ngModel)]="searchInput" placeholder="Search product..." type="search" id="search" class="bg-white mb-4 w-2/3 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">

    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
@for (product of products.slice(0,12) | search:searchInput ; track product.id) {
    <div class="card border border-green-400/50 rounded-md overflow-hidden shadow relative">
   <div>
    <div class="card-img">
   <a [routerLink]="['/details', product._id]">
    <img [src]="product.imageCover" class="w-full object-contain h-[250px]" [alt]="product.title" />
   </a>
    </div>
    <div class="card-body px-2 py-4">
      <h4 class="text-green-500 text-xs">{{product.category.name}}</h4>
      <h3 class="font-medium">
        <a  [routerLink]="['/details', product._id]">{{product.title.split(" ",2).join(" ")}}</a>
      </h3>
      <p class="mt-2">{{product.description.split(" ",2).join(" ")}}</p>
      <div class="flex justify-between items-center">
        <span>{{product.price | currency: "EGP"}}</span>
        <div class="flex items-center">
          <i class="fas fa-star text-yellow-300"></i>
          <span class="text-gray-500">{{product.ratingsAverage}}</span>
        </div>
      </div>
    </div>
      
   </div>
      <div class="flex items-between content-center">
        <button #btn (click)="addToCart(product.id,btn,spinner)" class="cursor-pointer btn-main disabled:cursor-progress text-center  w-[50%] mx-auto block mb-3">add To Cart 
          <span #spinner><i class="faa fa-spin fa-spinner"></i></span>
        </button>
        
        <button #btnwhishlist 
        (click)="addTowishlist(product.id, btnwhishlist)" 
        class="cursor-pointer mb-3 text-xl me-4">
        <i class="fa-solid fa-heart"></i>
      </button>
      </div>
          
            
      </div>

}

    </div>

   
</section>
