

<nav class="bg-gray-100 border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
      <a routerLink="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="/images/freshcart-logo.svg" class="h-8" alt="eCommerce Logo" />
     
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full md:flex md:w-auto flex-grow" id="navbar-default">
        @if(isLogin()){
     <ul class="capitalize flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-6 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a routerLink="/home" routerLinkActive="active-link" class="block py-2 px-3  rounded-sm" aria-current="page">{{'navbar.home' | translate}}</a>
          </li>
          <li>
            <a routerLink="/products" routerLinkActive="active-link" class="block py-2 px-3  rounded-sm" aria-current="page">{{'navbar.Products' | translate}}</a>
          </li>
  
          <li>
            <a routerLink="/categories" routerLinkActive="active-link" class="block py-2 px-3  rounded-sm" aria-current="page">{{'navbar.categories' | translate}}</a>
          </li>
          <li>
            <a routerLink="/brands" routerLinkActive="active-link" class="block py-2 px-3  rounded-sm" aria-current="page">{{'navbar.brands' | translate}}</a>
          </li>
          <li>
            <a routerLink="/wishlist" routerLinkActive="active-link" class="block py-2 px-3  rounded-sm" aria-current="page">{{'navbar.wishlist' | translate}}</a>
          </li>
        </ul>
        }
   

        <ul class="ms-auto capitalize flex flex-col items-center content-center p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-6 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            
          <li>
            <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">{{'navbar.lang' |translate }} <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
  </svg></button>
            <!-- Dropdown menu -->
            <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                  <li>
                    <a [class.hidden]="currentlang('en')" (click)="change('en')" class=" cursor-pointer block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">English</a>
                  </li>
                  <li>
                    <a [class.hidden]="currentlang('ar')" (click)="change('ar')" class="cursor-pointer block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">العربية</a>
                  </li>
                  <!-- [class.hidden]="currentlang('en')" (click)="change('en')"  -->
                </ul>
            </div>
        </li>
          <li>
                <a href="#" class="block py-2 px-3  rounded-sm md:p-0" aria-current="page">
                    <i class="fa-brands fa-instagram"></i>
                </a>
              </li>
            <li>
                <a href="#" class="block py-2 px-3  rounded-sm md:p-0" aria-current="page">
                    <i class="fa-brands fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#" class="block py-2 px-3  rounded-sm md:p-0" aria-current="page">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
              </li>
              <li>
                <a href="#" class="block py-2 px-3  rounded-sm md:p-0" aria-current="page">
                    <i class="fa-brands fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" class="block py-2 px-3  rounded-sm md:p-0" aria-current="page">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="#" class="block py-2 px-3  rounded-sm md:p-0" aria-current="page">
                    <i class="fa-brands fa-youtube"></i>
                </a>
              </li>
@if(!isLogin()){
    <li>
        <a routerLink="login" routerLinkActive="active-link" class="block py-2 px-3  rounded-sm" aria-current="page">{{'navbar.login' | translate}}</a>
      </li>
      <li>
          <a routerLink="register" routerLinkActive="active-link" class="block py-2 px-3  rounded-sm" aria-current="page">{{'navbar.register' | translate}}</a>
        </li>
}@else {
  <li>
    <a routerLink="/cart" routerLinkActive="text-green-600" class="block py-2 px-3 relative rounded-sm text-lg" aria-current="page">
      <i class="fas fa-cart-shopping"></i>
      <div class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -end-2">{{cartService.cartItemCount | async}}</div>
    </a>
  </li>
    <li>
        <a role="button" class="block py-2 px-3  rounded-sm" aria-current="page" 
        (click)="logOut()">{{'navbar.signout' | translate}}</a>
      </li>
}
          </ul>
      </div>
    </div>
  </nav>
  
