<footer class="bg-gray-100 py-9">
    <div class="container mx-auto px-2 md:px-0">
      <h2 class="text-2xl">Get The FreshCart App</h2>
      <h3 class="text-gray-500">
        We Will send you a link, open it on your phone to download the app.
      </h3>
      <div class="flex space-x-2 my-3">
        <input
          type="email"
          id="email"
          class="bg-gray-50 border w-[80%] border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block p-2"
          placeholder="Email..."
          required
        />
  
        <button class="px-3 py-2 bg-green-700 text-white rounded w-[30%]">
          Share App Link
        </button>
      </div>
      <!-- Footer Payment -->
      <div
        class="flex-col md:flex-row md:flex justify-between my-7 py-7 border-t-1 border-b-1 border-gray-700/25"
      >
        <div class="flex items-center space-x-2">
          <p class="text-2xl font-normal">Payment Partners</p>
          <div class="flex space-x-3">
            <img
              class="w-[25px]"
              src="/images/amazon-pay.png"
              alt="Fresh Car amazon"
            />
            <img
              class="w-[25px]"
              src="/images/American-Express-Color.png"
              alt="Fresh Cart  American"
            />
            <img
              class="w-[25px]"
              src="/images/mastercard.webp"
              alt="Fresh Cart  mastercard"
            />
            <img
              class="w-[25px]"
              src="/images/paypal.png"
              alt="Fresh Cart  paypal"
            />
          </div>
        </div>
        <div>
          <p>Get Deliveries With FreshCart</p>
          <div class="flex">
            <img
              class="w-[150px]"
              src="/images/get-apple-store.png"
              alt="Fresh Cart AppStore"
            />
            <img
              class="w-[150px]"
              src="/images/get-google-play.png"
              alt="Fresh Cart Google Play"
            />
          </div>
        </div>
      </div>
    </div>
  </footer>